<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start">
      <ion-button fill="clear" href="/tabs/tab1">
        <ion-title>TrendFy</ion-title>
      </ion-button>
    </div>

    <div>
      <ion-title>Map</ion-title>
    </div>

    <div slot="end">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="map" style="height: 400px; width: 100%;"></div>
</ion-content>
