<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start">
      <ion-button fill="clear" href="/tabs/tab1">
        <ion-title>TrendFy</ion-title>
      </ion-button>
    </div>

    <div>
      <ion-title>Home</ion-title>
    </div>

    <div slot="end">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1 class="Bem-Vindo">
  Bem-Vindo,
</h1>
<h6 class="subtitulo">
  ao nosso app de looks!
</h6>
  <h3 class="conheça">
    Conheca a nossa AI!
  </h3>
  <ion-button href="/tabs/tab3" class="button-conheca">
    Venha conheçer!
  </ion-button>
  <div class="espaco">
  </div>
  <h3 class="veja">
    Veja lojas próximas a você!
  </h3>
  <ion-button class="button-veja" href="/tabs/tab2">
    Mapa
  </ion-button>
  <div class="espaco-grande">
  </div>
  <div style="display: flex;">
  <img src="src\assets\jovem-alegre-mostrando-o-simbolo-da-paz-com-um-sorriso-foto-de-estudio-de-atraente-mulher-caucasiana-vestindo-roupas-jeans.jpg" alt="look 1" style="display: flex; width: 50%; height: auto; margin-left: 15%;">
  <h4 style="flex-direction: column; font-size: 15px;">
    <p style="height: 25px;">
     - Óculos de sol em formato de coração
    </p>
    <p class="espaco-hp">
     - Jaqueta jeans
    </p>
    <p class="espaco-hp">
     - Camista branca lisa
    </p>
    <p class="espaco-hp">
     - Calça jeans
    </p>
  </h4>
</div>
</ion-content>

