.Bem-Vindo{
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  font-size: 50px;
}
.subtitulo{
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  font-size: 15px;
  height: 50px;
}
.conheça{
  display: flex;
  margin-left: 15px;
}
.button-conheca{
  display: flex;
  margin-left: 15px;
  height: 30px;
  width: 150px;
}
.button-veja{
  display: flex;
  margin-left: 15px;
  height: 30px;
  width: 150px;
}
.espaco{
  display: flex;
  height: 20px;
}
.veja{
  display: flex;
  margin-left: 15px;
}
.espaco-grande {
  display: flex;
  height: 70px;
}
.espaco-hp {
  display: flex;
  height: 10px;
}

