<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start">
      <ion-button fill="clear" href="/tabs/tab1">
        <ion-title>TrendFy</ion-title>
      </ion-button>
    </div>

    <div>
      <ion-title>Home</ion-title>
    </div>

    <div slot="end">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1 class="Bem-Vindo">
  Bem-Vindo,
</h1>
<h6 class="subtitulo">
  ao nosso app de looks!
</h6>
  <h3 class="conheça">
    Conheca a nossa AI!
  </h3>
  <ion-button href="/tabs/tab3" class="button-conheca">
    Venha conheçer!
  </ion-button>
  <div class="espaco">
  </div>
  <h3 class="veja">
    Veja lojas próximas a você!
  </h3>
  <ion-button class="button-veja" href="/tabs/tab2">
    Mapa
  </ion-button>
</ion-content>

