<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Menu lateral -->
    <ion-menu contentId="main-content" type="overlay" side="end">
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-text-center">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/tabs/tab1" routerDirection="root">
              <ion-icon name="home-outline" slot="start"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/tabs/tab2" routerDirection="root">
              <ion-icon name="navigate-outline" slot="start"></ion-icon>
              <ion-label>Map</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/tabs/tab3" routerDirection="root">
              <ion-icon name="hardware-chip-outline" slot="start"></ion-icon>
              <ion-label>AI</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/tabs/tab6" routerDirection="root">
              <ion-icon name="compass-outline" slot="start"></ion-icon>
              <ion-label>News</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/tabs/tab4" routerDirection="root">
              <ion-icon name="globe-outline" slot="start"></ion-icon>
              <ion-label>Social</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/tabs/tab5" routerDirection="root">
              <ion-icon name="person-circle-outline" slot="start"></ion-icon>
              <ion-label>Account</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/tabs/tab7" routerDirection="root">
              <ion-icon name="accessibility-outline" slot="start"></ion-icon>
              <ion-label>Support</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- Conteúdo principal -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
